*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    border-radius: 20px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
#card1{
     z-index: 4;
     transform: translate(-50%,-50%);
     background: #d86b6b;
}

#card2{
    z-index: 3;
    transform: translate(-50%,-50%) rotate(-7deg);
    background: blue;
}
#card3{
   z-index: 2;
   transform: translate(-50%,-50%) rotate(-14deg);
   background: green;
}
#card4{
    z-index: 1 ;
    transform: translate(-50%,-50%) rotate(-21deg);
    background: red;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card1:hover{
    z-index: 10;
}

#card2:hover{
    z-index: 10;
}

#card3:hover{
    z-index: 10;
}

#card4:hover{
    z-index: 10;
}